@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/IBMPlex-Sans/IBMPlexSans-Light.ttf');
}

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/IBMPlex-Sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/IBMPlex-Sans/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/IBMPlex-Sans/IBMPlexSans-Bold.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src:
    url('/assets/fonts/MaterialIcons/MaterialIconsSharp-Regular.otf') format('opentype'),
    url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}
