body{
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
  padding:
  calc(var(--responsive-padding-top) *2)
  calc(var(--responsive-padding-right-left) *2)
  calc(var(--responsive-padding-right-left) *2)
  calc(var(--responsive-padding-bottom) *2);

  max-width: $column-large;
}

@media screen and (min-width: $vp-medium) {
  body{
    flex-direction: row;
  }
}