body{
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;

  padding:
  calc(var(--responsive-padding-top) *2)
  calc(var(--responsive-padding-right-left) *2)
  calc(var(--responsive-padding-right-left) *2)
  calc(var(--responsive-padding-bottom) *2);

  max-width: $column-xlarge;
}

@media screen and (min-width: $vp-large) {
  body{
    flex-direction: row;
  }

  main{
    display: grid;
    grid-template-columns: $column-medium 1fr;
    gap: var(--responsive-gap);
    max-width: $column-large * 2;
  }
}

/* News & Post Container
############################################################################ */

@media screen and (min-width: $vp-large) {
  .news-container,
  .post-container{
    height: 90vh;
    overflow: auto;
    border-left: $border-stroke-weight solid $darken;
    padding-left: var(--responsive-padding-right-left);
    padding-right: 5em;
  }
}