.news-container,
.post-container {
  a {
    display: inline-block;
    border-bottom: dotted $border-stroke-weight-s $accent;
    transition: background $tr-fast, padding $tr-fast;

    &:hover {
      padding-right: $quad;
      padding-left: $quad;
      background-color: $darker;
    }
  }
}